.card {
    height: 500px;
    width: 406px;
    border-radius: 10px;
    box-shadow: 0px 20px 40px 0px #877CCA26;
}

.image {
    height: 226.46092224121094px;
    width: 406px;
    border-radius: 10px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1E2123;
    margin-top: 30px;
    padding-left: 20.5px;
    height: 38px;
    width: 357.544921875px;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
    margin-top: 15px;
    padding-left: 20.5px;
    height: 85px;
    width: 365.544921875px;
    border-bottom: 2px solid #F8F8F8;
}

.bottomBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date {
    height: 37px;
    width: 125px;
    background: #F8F8F8;
    border-radius: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #8291A3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.button {
    height: 37px;
    width: 81px;
    padding: 10px 15px 10px 15px;
    background: rgba(102, 78, 249, 0.1);
    border-radius: 17px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #664EF9;
    margin-right: 20px;
}