.container {
    height: 40px;
    width: 1440px;
    background-color: #F8F8F8;
    font-family: 'Inter';
    display: flex;
    align-items: center;
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8291A3;
    text-decoration: none;
}

.login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #664EF9;
    text-decoration: none;
}

.leftBlock {
    margin-left: 23px;
    display: flex;
    align-items: center;
}

/* .leftBlock div {
    height: 40px;
} */

.leftBlock div {
    margin-left: 57px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #FFD54F;
}

/* .leftBlock div :hover {
    border: 3px solid #FFD54F;
} */

.rightBlock {
    margin-left: 244px;
}

.rightBlock a {
    margin-left: 40px;
}

.heart {
    margin-left: 11px;
    height: 14.23486328125px;
    width: 16px;
    color: #8291A3;
}