.container {
    height: 688px;
    display: flex;
}

.backgroundImg {
    background-image: url('../../images/background.png');
    height: 688px;
    width: 1440px;
    position: absolute;
}

.topImg {
    background-image: url('../../images/topImage.png');
    /* mix-blend-mode: overlay; */
    filter: blur(2.5px);
    /* opacity: 0.15; */
    width: 1440px;
    height: 688px;
    position: absolute;
}

.content {
    display: flex;
    position: absolute;
}

.contentLeft {
    color: #FFFF;
    width: 515px;
    margin-top: 77px;
    margin-left: 87px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    height: 30px;
    width: 148px;
}

.feedback {
    height: 72px;
    width: 450px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-top: 30px;
}

.address {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.phoneNumber,
.emailAddress,
.workTime {
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.address div:last-child,
.phoneNumber div:nth-child(2),
.emailAddress div:last-child,
.workTime div:last-child {
    margin-left: 20px;
}

.viber {
    margin-left: 30px;
}

.telegram,
.whatsapp {
    margin-left: 10px;
}

.ip,
.unp {
    width: 516px;
    font-weight: 400;
    font-size: 14px;
}

.ip {
    margin-top: 30px;
}

.unp {
    margin-top: 10px;
}

.info {
    height: 90px;
    width: 515px;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
    background: rgba(80, 57, 189, 0.5);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 39px;
}

.info div {
    height: 48px;
    width: 405px;
    margin-left: 20px;
}

.contentRight {
    height: 516px;
    width: 625px;
    border-radius: 10px;
    background-color: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
    margin-top: 77px;
    padding-top: 40px;
    padding-left: 40px;
    margin-left: 31px;
    box-sizing: border-box;
}

.contentRight section {
    display: flex;
}

.nameInput,
.emailInput {
    height: 47.5px;
    width: 260px;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    border: 2px solid #F8F8F8;
    margin-top: 16px;
}

.emailInput,
.email {
    margin-left: 30px;
    outline: 0;
}

.nameInput {
    outline: 0;
}

.message {
    margin-top: 30px;
}

.email,
.name,
.message {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
}

.messageInput {
    height: 200px;
    width: 548px;
    border-radius: 30px;
    background-color: #F8F8F8;
    border: 2px solid #F8F8F8;
    outline: 0;
    margin-top: 15px;
    text-indent: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    resize: none;
}

.button {
    height: 48px;
    width: 200px;
    border-radius: 33px;
    padding: 12px 20px 12px 20px;
    background-color: #664EF9;
    border: 2px solid #664EF9;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFF;
    margin-top: 40px;
    margin-left: 173px;
}

.socialNetworks {
    margin-top: 62px;
    margin-left: 64px;
}

.socialNetworks img {
    margin-top: 15px;
}