.topConainer {
    height: 430px;
    width: 1285.0928955078125px;
    margin-left: 78px;
    display: flex;
    justify-content: center;
}

.backgroundImg {
    background-image: url('../../images/background.png');
    height: 430px;
    width: 1285.0928955078125px;
    position: absolute;
    border-radius: 0px 0px 40px 40px;
}

.topImg {
    background-image: url('../../images/topImage.png');
    filter: blur(2.5px);
    height: 430px;
    width: 1285.0928955078125px;
    position: absolute;
    border-radius: 0px 0px 40px 40px;
}

.pageTitle {
    position: absolute;
    margin-top: 82.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
}

.pageTitle span {
    color: #FFD54F;
}

.buttons {
    position: relative;
    margin-top: 169px;
    margin-left: -313px;
}

.button {
    background: rgba(45, 57, 136, 0.5);
    border: none;
    height: 54px;
    width: 187px;
    border-radius: 0px;
    padding: 13px 20px 13px 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.button:focus {
    background-color: #FFFFFF;
    color: #664EF9;
    border-radius: 10px 10px 0px 0px;
}

.buttonDefaultFocus {
    background-color: #FFFFFF;
    color: #664EF9;
    border-radius: 10px 10px 0px 0px;
    border: none;
    height: 54px;
    width: 187px;
    padding: 13px 20px 13px 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.nav {
    position: absolute;
    height: 100px;
    width: 1062px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 215px;
    display: flex;
}

.arrowDown {
    color: #664EF9;
}

.selectCity,
.selectRooms {
    width: 190.5px;
    height: 68px;
    border-right: 1px solid rgba(102, 78, 249, 0.1);
    margin-top: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.selectPrices {
    width: 215px;
    height: 68px;
    border-right: 1px solid rgba(102, 78, 249, 0.1);
    margin-top: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.inputTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

.priceInput {
    height: 37px;
    width: 80px;
    border-radius: 20px;
    background: #F8F8F8;
    border: none;
    text-indent: 14px;
    padding: 0;
    margin-top: 10px;
    outline: none;
}

.options {
    rotate: 90deg;
    color: #664EF9;
}

.selectButton {
    height: 37px;
    width: 150px;
    border-radius: 20px;
    background: #F8F8F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
    border: 2px solid #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 11px;
}

.selectButton:focus {
    border: 2px solid rgba(102, 78, 249, 0.8);
    background-color: #FFFFFF;
}

.citiesList {
    height: 230px;
    width: 150px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    position: absolute;
    z-index: 1;
}

.citiesList li {
    list-style-type: none;
    height: 37px;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;

}

.selectOptions {
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
    border-right: 1px solid rgba(102, 78, 249, 0.1);
    width: 161.5px;
}

.showMap {
    display: flex;
    align-items: center;
    padding-left: 33px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
}

.showMap button {
    margin-left: 36px;
    height: 37px;
    width: 123px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFD54F;
    border: 2px solid #FFD54F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #242424;
}

.showMap img {
    margin-left: -20px;
}

.point {
    color: #664EF9;
    margin-left: 5px;
}

.catalog {
    height: 568px;
    margin-top: 84px;
    display: flex;
}

.leftBlock {
    width: 953px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 28px;
    column-gap: 30px;
}

.apartmentsForDay {
    background-image: url('../../images/Main/apartmentsForDay.jpg');
    height: 270px;
    width: 516px;
    border-radius: 10px;
    filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
}

.cottages {
    background-image: url('../../images/Main/cotteges.jpg');
    height: 270px;
    width: 407px;
    border-radius: 10px;
}

.baths {
    background-image: url('../../images/Main/baths.jpg');
    height: 270px;
    width: 407px;
    border-radius: 10px;
}

.carRental {
    background-image: url('../../images/Main/carRental.jpg');
    height: 270px;
    width: 516px;
    border-radius: 10px;
    margin-left: -110px;
}

.cardTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 37px;
    margin-top: 21px;
}

.cardDescription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 37px;
    margin-top: 38px;
}

.cardCities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 14px;
    column-gap: 16px;
    width: 365px;
    margin-left: 37px;
    margin-top: 21px;
}

.cardCity {
    height: 33px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #664EF9;
    border: 2px solid #664EF9;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.7);
}

.mapBlock {
    height: 440px;
    width: 1440px;
    display: flex;
    justify-content: center;
}

.backgroundMapImg {
    background-image: url('../../images/background.png');
    height: 440px;
    width: 1440px;
    position: absolute;
}

.topMapImg {
    background-image: url('../../images/topImage.png');
    filter: blur(2.5px);
    width: 1440px;
    height: 440px;
    position: absolute;
}

.mapBlockContent {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 75px;
}

.mapBlockContent div:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: 38px;
    width: 319px;
    margin-left: 80px;
    margin-top: 20px;
}

.mapBlockContent button {
    height: 37px;
    width: 167px;
    border-radius: 19px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #1E2123;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 23px;
}

.buttonImg {
    fill: #FEC100;
}

.InfoforOwners {
    display: flex;
    margin-left: 51px;
    margin-top: -125px;
    position: relative;
}

.infoCard {
    width: 406px;
    height: 345px;
    background: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
    border-radius: 10px;
    margin-left: 30px;
}

.infoCardGold {
    background: linear-gradient(105.54deg, #FFD54F 33.53%, #FEC100 94.13%)
}

.infoCardTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #664EF9;
    display: flex;
}

.infoCardDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
}

.infoCard button {
    height: 41px;
    width: 245px;
    border-radius: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
    box-shadow: 0px 15px 40px rgba(254, 193, 0, 0.15);
}

.infoCard button:nth-child(4) {
    height: 41px;
    width: 198px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background: linear-gradient(270deg, #7E6AF3 0%, #6540CD 100%);
    box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}