.card {
    height: 300px;
    width: 1280px;
    border-radius: 10px;
    display: flex;
    filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
    background-color: #FFFFFF;
    margin-left: 80px;
}

.image {
    height: 300px;
    width: 537.8411254882812px;
    border-radius: 10px;
}

.descriptionBlock {
    margin-left: 25px;
}

.topBlock {
    display: flex;
    align-content: center;
    margin-top: 19px;
}

.rightBlock {
    margin-left: 209px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #1E2123;
}

.middleBlock {
    display: flex;
    margin-top: 20px;
}

.price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #664EF9;
    margin-left: 20px;
}

.price div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    margin-left: 64px;
}

.persons {
    height: 34.10493469238281px;
    width: 87px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
}

.persons p {
    margin-left: 6px;
}

.rooms {
    height: 34.10493469238281px;
    width: 68px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
    margin-left: 15px;
}

.point {
    color: #664EF9;
}

.ellips {
    margin-left: 30px;
}

.address {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 17px;
    display: flex;
}

.address p {
    margin-left: 12px;
    margin-top: -3px;
}

.subway {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 122px;
    height: 34.1px;
    background: #F8F8F8;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686868;
    margin-left: 15px;
}

.subway p {
    margin-left: 6px;
}

.subwayImg {
    color: #664EF9;
}

.location {
    width: 135px;
    height: 34.1px;
    background: #F8F8F8;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #664EF9;
    margin-left: 15px;
}

.location span:nth-child(2) {
    color: #686868;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #686868;
    height: 63px;
    width: 702px;
    margin-top: 14px;
}

.bottomBlock {
    width: 367.25px;
    margin-top: 25px;
    display: flex;
    box-sizing: border-box;
}

.likeBlock {
    height: 34.9999992163872px;
    width: 132.99999702227137px;
    background: rgba(235, 87, 87, 0.1);
    border: none;
    border-radius: 22px;
    transform: rotate(0.25deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #EB5757;
    margin-left: 15.5px;
}

.like {
    color: #EB5757;
    margin-left: 10px;
}

.contactsBlock {
    color: #664EF9;
    height: 37px;
    width: 124px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F8F8F8;
    background: #F8F8F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* margin-left: 50.5px; */
}

.contactsBlock span {
    margin-left: 13px;
}

.phone {
    color: #664EF9;
}

.moreBlock {
    height: 41px;
    width: 114px;
    background: rgba(255, 213, 79, 0.1);
    border: none;
    border-radius: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FEC100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 309px;
}